<%- include("templates/header") %>

    <div class="px-4 pt-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <h3>Error 403</h3>
            <p class="lead mb-3">Error 403: You do not have access to this feature.</p>
        </div>
    </div>

    <%- include("templates/footer") %>