<%- include("templates/header") %>

    <div class="px-4 pt-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Invalid email/password combination.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Try again</button></a>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>