<%- include("templates/header") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Look <%- user.name %>, cats!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="/kittens.jpg" class="img-fluid">
        </div>
        <div class="col-lg">
            <img src="/sandy.jpg" class="img-fluid">
        </div>
        <div class="col-lg">
            <img src="/snowflake.jpg" class="img-fluid">
        </div>
    </div>
</div>

<%- include("templates/footer") %>